.dimple-chart .dimple-custom-axis-label,.dimple-custom-axis-title {
	font-family: 'Nunito', sans-serif;
    fill: #66d9ef;
}

.dimple-chart .dimple-custom-axis-title {
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
    fill: #44a6ae;
}

.dimple-chart .dimple-gridline {
	opacity: 0.2
}

g.dimple-axis > g.tick > line, g.dimple-axis path.dimple-custom-axis-line {
  stroke:#227279 !important;
}
