#hideAll
 {
	position: center;
	color: #FFFFFF;
	z-index: 99; /* Higher than anything else in the document */
	-webkit-transition: opacity 3s ease-in-out;
	-moz-transition: opacity 3s ease-in-out;
	-ms-transition: opacity 3s ease-in-out;
	-o-transition: opacity 3s ease-in-out;
	 opacity: 1;
 }