* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/* Create three columns of equal width */
.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}

/* Style the list */
.price {
    list-style-type: none;
    border: 1px solid #0077B0;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .header {
    background-color: #303030;
    color: white;
    font-size: 25px;
}

.price .instock {
    color: #66d9ef;
    text-shadow: 2px 2px rgba(10,10,10,0.2);
}

/* List items */
.price li {
    border-bottom: 1px solid #005590;
    padding: 2px;
    text-align: center;
}

/* Grey list item */
.price .price_value {
    background-color: #edfffc;
    font-size: 20px;
}

/* The "Sign Up" button */
button {
  font-family: "Nunito", sans-serif;
  cursor: pointer;
  display: inline-block;
  background-color: #353535;
  color: #66d9ef;
  text-align: center;
  transition: .25s ease;
  border: 1px solid #0077B0;
  padding: 3px;
  border-radius: 4px 4px 0 0;
  
}

button:hover, button:active 
{
  text-decoration: none;
  color: #60d0e0;
  border-color: #0099FF;
  background: #505050;
}
/* Change the width of the three columns to 100% 
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}