<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h1>Project Deal Sniffer</h1>
    <a href="{% url 'homepage' %}">Home</a> | 
    <a href="{% url 'contact' %}">Contact Us</a> | 
    <a href="https://github.com/staftermath/dealsniffer">GitHub</a> |
    {% if request.user.is_authenticated %}
    <a href="{% url 'loggedout' %}">Logout</a> |
    <a href="{% url 'profile' %}">Profile</a>
    {% else %}
    <a href="{% url 'login' %}?next={% url 'homepage' %}">Login</a>
    {% endif %} 
    <hr>
    {% block content %}{% endblock %}
    {% block chart %}{% endblock %}

    {% block footer %}
    <hr>
    <p>Thanks for visiting my site.</p>
    {% endblock %}
</body>
</html>