{% load static %}
<div class="columns" style="width:100%;">
  <ul class="price">
    <li class="header {% if dealresult.inStock == 'In Stock' %}instock{% endif %}">{{dealresult.inStock}}</li>
    <li class="price_value">{{dealresult.Price}}</li>
    {% if dealresult.dealurl %}
	<li><button type="button" name="goto_deal" value="Go To Deal"
        onclick="window.open('{{ dealresult.dealurl }}');" class="submit_button">Go Now</button></li>
{% endif %}
  </ul>
</div>
<link rel="stylesheet" type="text/css" href="{% static 'css/price_table.css' %}?v=<?=time();?>" />
