{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h2>{% if request.user.is_authenticated %}
Hi, {{ request.user.username }}!
{% endif %} Welcome to the Home Page</h2>
<hr>
{% if request.user.is_authenticated %}
<table>
	{% for form in menuUserDealAccessible %}
	<tr>
		<td>Select Deal</td>
		<td>{{ form }}</td>
		<td><button type="button" name="get_deal" value="Get Deal"
            onclick="GetDeal(deal=$('#menu_user_deal_accessible').val(), targetid='display_deal', url='{% url 'api_getdeal'%}')" class="submit_button">Get Deal</button></td>
	</tr>
	{% endfor %}
	{% csrf_token %}
	<tr>
		<td></td>
		<td id="display_deal"></td>
		<td></td>
	</tr>
</table>
{% endif %}
{% load static %}

{% endblock %}
