{% extends 'base.html' %}
{% block title%}Add and View Parsers{% endblock %}
{% block content %}
<div id="LeftPanel" style="width: 50%; height: 100%; float: left;">
<form method="post">
<table id="table_addparser">
<tr><td colspan="2" align="center" class="class_tablehead">Add Parsers</td></tr>
{% for form in addparser %}
	<tr>
	<td>{{form.name}}</td>
	<td>{{form}}</td>
	</tr>
{% endfor %}
<tr><td></td><td><button type="submit" name="add_parser">Add Parser</button></td></tr>
{% csrf_token %} 
</table>
</form>
{% for msg in msgs %}
<div><span style="color: {% if validparser %} #0000FF {% else %} red {% endif %}"><strong>{{msg}}</strong></span></div>
{% endfor %}
</div>
{% load static %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript">
function GetDealForThisParser(parsermenuId) {
	console.log("Getting parser: "+parsermenuId)
	var url = "{% url 'api_deal_for_parser' %}" + "?parser=" + parsermenuId
	console.log(url)
	var deals = jQuery.when(jQuery.getJSON(url)).done(
		function(json) {
			$("#deal_menu").html("");
			for (var i = 0; i< json.length; i++)
			{
				$("#deal_menu").append($('<option/>', { 
			        value: json[i],
			        text : json[i]
				    }));
					if (i==0) {
						$("#deal_menu").children().last().attr("selected","selected");
					}
			}
						});

};

</script>
<div id="RightPanel" style="width: 50%; height: 100%; float: right;">
<table>
<td colspan="3">View Parsers</td>
</tr>
<tr>
	<td align="left">Parser</td>
	<td style="width:60%">{{ parsermenu.parser }}</td>
	<td><button type="button" id="view_parser" onclick="GetDealForThisParser(parsermenuId=$('#id_parser').val())">View Parser</button></td> 
</tr>
{% include "view_deal.html" %}
</table>
<div id="display_deal" style="width:100%;"></div>
</div>
{% endblock %}