<table>
	{% for form in menuUserDealAccessible %}
	<tr>
		<td>{{ form.name}}</td>
		<td>{{ form }}</td>
	</tr>
	{% endfor %}

<tr>
   	<td>
    </td>
	<td style="width:20%"><button type="button" name="get_deal" value="Get Deal"
        onclick="GetDeal(deal=$('#menu_user_deal_accessible').val(), parser=$('#form_select_parser').val())" class="submit_button">Get Deal</button></td>
</tr>
</table>
<script type="text/javascript">
{% load static %}
function GetDeal(deal, parser) {
    // $(this).after("<img src='{% static 'image/pageLoad.gif' %}' alt='loading' />").fadeIn(); 
    var url = "{% url 'api_getdeal'%}" + "?deal="+deal + "&parser=" + parser;
    console.log(url)
    var template = '<object type="text/html" data="%URL%" style="height:100%; width:100%;"></object>';
    document.getElementById("display_deal").innerHTML = template.replace("%URL%", url)
}
</script>